.breadcrumb{
    margin: 10px 0;
    text-align: center;
}

.breadcrumb > li{
  display: inline;
}

.breadcrumb li.location+li.location::before{
  content: ">";
  color: hsla(88, 100%, 25%, 1);
  padding: 0 5px;
}

.breadcrumb li.location a:hover{
  padding: 5px;
  border: 1px solid hsla(88, 100%, 25%, 1);
  border-radius: 10px;
  box-shadow: 0 10 10 10;
  background-color: hsla(88, 100%, 30%, 4);
  color: black;
}

.breadcrumb li.attribute a{
  padding-left: 10px;
  color: hsla(88, 100%, 25%, 1);
}

.breadcrumb li.attribute::after{
  content:"x";
  vertical-align: super;
  font-size: 7px;
}